<div
  style="
    margin: -30px;
    background-color: #4caf50;
    height: 300px;
    max-height: 300px;
    width: 500px;
    max-width: 500px;
    overflow-x: hidden;
  "
>
  <div>
    <mat-card
      class="example-card"
      style="background-color: white; margin: 10px; color: black"
    >
      <span
        class="material-icons"
        style="float: right; color: #4caf50"
        (click)="close()"
        >highlight_off</span
      >
      <table>
        <tr>
          <td>
            <h3>
              Customer Name :
              <input
                type="text"
                [(ngModel)]="name"
                style="margin-left: 15px; width: 200px"
                value="{{ name }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Customer Mobile :
              <input
                type="number"
                style="margin-left: 10px; width: 200px"
                [(ngModel)]="moblie"
                value="{{ moblie }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Customer Email :
              <input
                type="text"
                [(ngModel)]="email"
                style="margin-left: 20px; width: 200px"
                value="{{ email }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <h3>
              Table No. :
              <input
                type="number"
                readonly
                [(ngModel)]="table"
                style="margin-left: 67px; width: 200px"
                value="{{ table }}"
                [ngModelOptions]="{ standalone: true }"
              />
            </h3>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <button
    (click)="update()"
    style="float: right; background-color: white; color: #4caf50; margin: 10px"
    mat-raised-button
  >
    UPDATE DETAILS
  </button>
</div>
