<!DOCTYPE html>
<html>
    <title>Welcome to Hotel</title>
<body onload="randomtable()">

<form action="/hotellogin" method="POST">
    <label for="hotelusername">USERNAME : </label>
    <input type="text" name="hotelusername" id="hotelusername" required>
    <label for="hotelpassword">PASSWORD : </label>
    <input type="password" name="hotelpassword" id="hotelpassword" required>
    <button type="submit" id="hotelsubmit">HOTEL LOGIN</button>
</form>
<br><br><br><br><br>
<form action="/cheflogin" method="POST">
    <label for="chefusername">USERNAME : </label>
    <input type="text" name="chefusername" id="chefusername" required>
    <label for="chefpassword">PASSWORD : </label>
    <input type="password" name="chefpassword" id="chefpassword" required>
    <button type="submit" id="chefsubmit">CHEF LOGIN</button>
</form>
</form>
<br><br><br><br><br>
<form action="/customerorder" method="GET">
    <label for="customername">CUSTOMER NAME : </label>
    <input type="text" name="customername" id="customername" required>
    <label for="customerphone">PHONE NUMBER : </label>
    <input type="text" name="customerphone" id="customerphone" required>
    <label for="tablenumber">TABLE NUMBER : </label>
    <input type="number" name="tablenumber" id="tablenumber" readonly>
    <button type="submit" id="customersubmit">ORDER PLACE AS CUSTOMER</button>
</form>
</form>

<script>
    function randomtable() {
        var x = document.getElementById("tablenumber")
        x.value = Math.floor((Math.random() * 100) + 1);
    }
</script>
</body>
</html>